/**
 * Node Add / Edit / Clone Pages
 */

.node-type-report {
  margin-bottom: 25px;
  // Remove tabs for editors.
  &.editor {
    .tabs--primary.nav-tabs,
    #edit-field-notes-0-format,
    .form-type-vertical-tabs.js-form-type-vertical-tabs {
      display: none;
    }
  }
  .top-row {
    .field--item {
      font-size: 26px;
    }
    .field--label {
      border-top: 1px solid black;
      font-weight: normal;
    }
  }
  .bottom-row {
    .field--label {
      font-weight: normal;
    }
    .field--item {
      padding: 5px 5px 25px;
      border: 1px solid black;
    }
  }
}

div {
  // Node Psedudo View Table
  &.table.field-lake-view {
    display: table;
    border: 1px solid black;
    margin-top: 25px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 21px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    .thead {
      display: block;
      float: left;
      vertical-align: middle;
      border-color: inherit;
      border-collapse: collapse;
      .tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        .th {
          display: block;
          margin: 0;
          padding: 16px 12px 16px 8px;
          font-size: 20px;
          border-bottom: 1px solid black;
          vertical-align: bottom;
          line-height: 1.42857143;
          text-align: left;
          &.trash {
            border-bottom: none;
          }
        }
      }
    }
    .tbody {
      display: block;
      float: left;
      border-left: 1px solid black;
      vertical-align: middle;
      border-color: inherit;
      .tr {
        display: block;
        float: left;
        vertical-align: inherit;
        border-color: inherit;
      }
      .td {
        display: block;
        border-right: 1px solid black;
        padding: 0;
        line-height: 1.42857143;
        vertical-align: top;
        .field--type-string {
          margin: 0;
          .field-inner-string {
            border-bottom: 1px solid black;
            margin: 0;
            padding: 12px 0;
            text-align: center;
            min-height: 61px;
            @-moz-document url-prefix() {
              min-height: 62px;
            }
            span {
              font-size: 25px;
            }
          }
        }
        .field--type-boolean {
          margin: 0;
          .field-inner-boolean {
            margin: 0;
            padding: 7px 10px;
            border-bottom: 1px solid black;
            text-align: center;
            min-height: 61px;
            &.field--name-field-trash {
              border-bottom: none;
            }
            @-moz-document url-prefix() {
              &.field--name-field-algae-control,
              &.field--name-field-submersed-weeds,
              &.field--name-field-manual-cutting {
                min-height: 62px;
              }
            }
            span {
              font-size: 32px;
            }
          }
        }
      }
    }
  }
}
