/**
 * User Login
 */

.path-user.user {
  background: $dkblue;
  margin-top: 25px !important;
  header, nav.tabs {
    display: none;
  }
  .page-header {
    color: white;
    text-align: center;
    border-bottom: none;
  }
  .panel-default {
    border-color: $ltblue;
    >.panel-heading {
      background-color: $ltblue;
      border-color: $ltblue;
      color: white;
    }
    .panel-body {
      #edit-actions {
        text-align: center;
      }
    }
    .password {
      margin-bottom: 15px;
      text-align: center;
    }
  }
}
