/**
 * Paragraph SCSS
 */

// Editing
.tabledrag-toggle-weight {
  display: none;
}

.js {
  .paragraph-type-title {
    display: none;
  }
  .paragraph-type-top {
    display: block;
    margin: 0;
    .paragraphs-dropbutton-wrapper {
      display: inline-block;
      padding: 0 3px;
      button {
        &.btn-danger {
          padding: 3px 5px;
          font-size: 12px;
          .glyphicon-trash {
            display: none;
          }
        }
      }
    }
  }
  .paragraphs-subform {
    .field--type-string {
      margin: 15px 0 0;
      .form-type-textfield {
        border-bottom: 1px solid black;
        margin: 0;
        padding: 0 0 15px 0;
        label {
          display: none;
        }
        input {
          width: 50px;
          height: 35px;
          padding: 5px;
          display: inline-block;
          text-align: center;
          margin-left: 6px;
        }
      }
    }
    .field--type-boolean {
      margin: 15px 0 0;
      .form-type-checkbox {
        margin: 0;
        padding: 0 0 15px 0;
        border-bottom: 1px solid black;
        &.field-trash {
          border-bottom: none;
        }
        label {
          min-height: 21px;
          padding-left: 20px;
          margin: 0 0 4px 0;
          font-weight: normal;
          cursor: pointer;
        }
      }
    }
    .checkbox input[type="checkbox"] {
      margin-left: -5px;
      width: 30px;
      height: 30px;
      background: white;
      border-radius: 5px;
      border: 2px solid #555;
    }
  }
}
