/**
 * Table SCSS
 */

table {
  // Node Edit Table
  &.field-lake {
    border: 1px solid black;
    thead {
      display: block;
      float: left;
      th {
        display: block;
        margin: 0;
        padding: 16px 12px 16px 8px;
        font-size: 20px;
        border-bottom: 1px solid black;
        &.top {
          padding: 9px 8px;
          border-bottom: none;
        }
        &.lake {
          padding: 16px 12px 12px 8px;
        }
        &.trash {
          border-bottom: none;
        }
      }
    }
    tbody {
      display: block;
      float: left;
      border-left: 1px solid black;
      tr {
        display: block;
        float: left;
      }
      td {
        display: block;
        border-right: 1px solid black;
        &.field-multiple-drag {
          display: none;
        }
      }
    }
  }
}
